/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-text-fill:white;
	-fx-background-color:linear-gradient(#61a2b1,#2A5058);
	-fx-font-weight:bold;
	-fx-font-family:"Arial Narrow";
}
.root{
	-fx-background-image:url("/gui/background.jpeg");
}
.label{
	-fx-font-weight:bold;
}